nav {
    font-size: 15px;
    margin-top: 0px;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav>ul>li>a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    list-style: none;
    color: white;
    background-color: black;
}
body{
    font-size: 30px;
}